@import "../scss/reset/reset";
@import "../scss/component/navbar";
@import "../scss/component/body";
@import "../scss/component/header";
@import "../scss/component/titles";
@import "../scss/layout/grid";
@import "../scss/layout/flex";
@import "../scss/views/mq";
@import "../scss/component/video";
@import "../scss/component/footer";
@import "../scss/component/bs";








