.grid-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.grid-item img {
    width: 100%;
    height: auto;
    width: 80%;
    border: solid 1px map-get($colores, secundario );
    border-radius: 2rem; 
}
