@media (max-width: 768px) {
    .grid-fotos {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .grid-item {
        text-align: center;
    }

    .navbar-logo {
        display: flex;
        justify-content: center;
    }

    .navbar-centered {
        align-items: center;
    }
}

@media screen and (max-width:768px) {
    .navbar-logo-2 {
        display: flex;
        justify-content: center;
    }

    .navbar-centered-2 {
        align-items: center;
    }

    .row img {
        justify-items: center;
    }
}

@media (max-width: 768px) {

    .navbar-logo-2 {
        display: flex;
        justify-content: center;
    }

    .navbar-centered-2 {
        align-items: center;
    }
}

@media (max-width: 768px) {

    .navbar-logo-2 {
        display: flex;
        justify-content: center;
    }

    .navbar-centered-2 {
        align-items: center;
    }

    .container {
        flex-direction: row;
        align-items: center;
    }

    .item {
        margin-right: 0;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .grid-1 {
        grid-template-columns: 1fr;
    }
}
